<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .main{
            text-align: center;
            margin-top: 7rem;
        }
        img{
            height: 200px;
        }
        button{
            padding: 0.3rem 1.5rem;
            background-color:lightgreen;
            border: none;
            cursor: pointer;
        }
        button a{
            text-decoration: none;
            color: rgb(35, 32, 32);
        }
        button:hover{
            background-color: cadetblue;
            color: white;
        }
    </style>
</head>
<body>
    <form action="">
       <div class="main">
        <div class="img">
            <img src="https://www.logolynx.com/images/logolynx/0c/0c7191dc35a536be1326d8c778722949.png" alt="">
        </div>
        <div class="btns">
            <button><a href="http://localhost:8080/UserLogin">UserLogin</a></button>
           <button><a href="http://localhost:8080/AdminLogin">AdminUser</a></button>
        </div>
       </div>
    </form>
</body>
</html>